<h1>Compre su cubo</h1>
<div *ngIf="cubos">
    <ul>
        <li *ngFor="let cubo of cubos">
            <div class="card" style="width: 18rem;">
                <img src="{{cubo.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{cubo.nombre}}</h5>
                  <label>Marca: </label>
                  <h6>{{cubo.marca}}</h6>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                 <button (click)="compro(cubo.idCubo)" class="btn btn-danger">Compra</button>
                 
                </div>
              </div>
        </li>
    </ul>
</div>